* {
  margin: 0;
  padding: 0; }

body {
  font-family: Helvetica Neue,Arial,sans-serif;
  font-size: 15px; }

.top {
  border-bottom: 2px solid #000; }

.strike {
  text-decoration: line-through; }

.fas {
  transform: scale(0.6, 0.7); }

#centerContent {
  text-align: center; }
  #centerContent div {
    font-size: 1em;
    padding: 1em 0; }
  #centerContent hr {
    width: 100px;
    margin: 0 auto;
    margin-bottom: 4em; }
  #centerContent p {
    font-size: 1.734em;
    line-height: 1.5em; }
    #centerContent p .small {
      font-size: 1em;
      line-height: 1.2em; }
  #centerContent .choice {
    padding-top: 0.667em; }

#content-wrap {
  max-width: 1280px;
  box-sizing: border-box;
  margin: 0 auto; }

#bottom-info-wrap {
  max-width: 1280px;
  box-sizing: border-box;
  margin: 0 auto; }

#access {
  display: flex;
  justify-content: center;
  margin-top: 2.33em;
  flex-direction: row;
  box-sizing: border-box; }
  #access .access-box {
    max-width: 354px;
    height: auto;
    margin-right: 1.33em; }
    #access .access-box:last-child {
      margin-right: 0; }
  #access .box {
    max-width: 314px;
    height: 179px;
    border-radius: 0.4em;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: #D8D8D8;
    font-size: 1.7em;
    padding: 0.98em 0.78em 0.78em 0.78em;
    margin-bottom: 0.98em; }
  #access .basic {
    background-color: #2E84ED; }
  #access .all {
    background-color: #0F4A92; }
  #access .home-all {
    background-color: #333; }
  #access .title {
    flex-grow: 1; }
  #access .rate {
    line-height: 1.2em;
    margin-bottom: .5em;
    font-size: 0.77em; }
    #access .rate span:last-child {
      color: white; }
  #access .action {
    font-size: 0.77em;
    background: rgba(255, 255, 255, 0.4);
    width: 100%;
    text-align: center;
    color: #D8D8D8;
    font-size: 0.53em;
    line-height: 0.69em;
    text-transform: uppercase;
    border-radius: 4px; }
    #access .action a {
      color: white;
      padding: 1em 0;
      display: block;
      text-decoration: none; }
  #access .access-detail {
    font-size: 1.067em;
    color: #4A4A4A;
    margin-bottom: 1.87em;
    display: flex;
    line-height: 1.375em;
    width: 83%; }
    #access .access-detail .check {
      margin-right: 0.5em;
      margin-top: .125em; }
    #access .access-detail p {
      flex-wrap: wrap; }

#bottom-info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  #bottom-info div {
    width: 480px;
    height: 134px;
    background: rgba(74, 74, 74, 0.1);
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1.33em 1.33em;
    font-size: 1.066em;
    line-height: 1.466em;
    margin-bottom: 4.33em; }
    #bottom-info div:first-child {
      margin-right: 0.66em; }
    #bottom-info div:last-child {
      margin-left: 0.66em; }
  #bottom-info a {
    color: #2E84ED; }

footer {
  max-width: 1069px;
  margin: 0 auto; }
  footer #footer a {
    border-right: 1px solid black;
    padding-right: 0.7em;
    margin-right: 0.5em;
    color: black;
    font-size: 0.866em; }
    footer #footer a:last-child {
      border-right: 0;
      margin-right: 0; }
