body {
	font-family: Helvetica;
}

.top {
 border-bottom: 2px solid #000;
}

#centerContent {
	text-align: center;
}

#centerContent div {
	font-size: 15px;
	padding: 30px 0;
}

#centerContent hr {
	width: 100px;
}

#access {
	display: flex;
	justify-content: center;
}

#bottom-info {
	display: flex;
	justify-content: center;
}