$desktopBreakpoint: 1024px;
$mobileBreakpoint: 768px;

$desktopBaseFont: 15px;
$accessBoxFontColor: #D8D8D8;
$accessBasicBgColor: #2E84ED;
$accessAllBgColor: #0F4A92;
$accessHomeAllBgColor: #333;
$accessDetailFontColor: #4A4A4A;
$moreInfoLinkFontColor: #2E84ED;

/*
//mobile
@media only screen (max-width: 768px) {

}

//between mobile and desktop
@media only screen and (max-width: 1023px) and (min-width: 768px) {

}*/


* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Helvetica Neue,Arial,sans-serif;
	font-size: $desktopBaseFont;
}

.top {
 	border-bottom: 2px solid #000;
}

.strike {
	text-decoration: line-through;
}

.fas { 
	transform: scale(.6,.7);
}

#centerContent {
	text-align: center;

	 div {
	 	font-size: 1em;
		padding: 1em 0;
	 }

	 hr {
	 	width: 100px;
		margin: 0 auto;
		margin-bottom: 4em;
	 }

	 p {
	 	font-size: 1.734em;
		line-height: 1.5em;

		.small {
			font-size: 1em;
			line-height: 1.2em;
		}
	 }

	 .choice {
	 	padding-top: 0.667em;
	 }
}

#content-wrap {
	max-width: 1280px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 35px 30px;
}

#access {
	display: flex;
    justify-content: center;
    margin-top: 2.33em;
    flex-direction: row;
    box-sizing: border-box;

    .access-box {
		max-width: 354px;
		height: auto;
		margin-right: 1.33em;

		&:last-child {
			margin-right: 0;
		}
	}

	.box {
		max-width: 314px;
		height: 179px;
		border-radius: 0.4em;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		color: $accessBoxFontColor;
		font-size: 1.7em;
		padding: 0.98em 0.78em 0.78em 0.78em;
		margin-bottom: 0.98em;
	}

	.basic {
		background-color: $accessBasicBgColor;
	}

	.all {
		background-color: $accessAllBgColor;
	}

	.home-all {
		background-color: $accessHomeAllBgColor;
	}
	
	.title {
		flex-grow: 1;
	}

	.rate {
		line-height: 1.2em;
		margin-bottom: .5em;
		font-size: 0.77em;

		span { 

			&:last-child {
				color: white;
			}
		}
	}

	.action {
		font-size: 0.77em;
		background: rgba(255,255,255, 0.4);
		width: 100%;
		text-align: center;
		color: $accessBoxFontColor;
		font-size: 0.53em;
		line-height: 0.69em;
		text-transform: uppercase;
		border-radius: 4px;

		a {
			color: white;
			padding: 1em 0;
			display: block;
			text-decoration: none;
		}
	}

	.access-detail {
		font-size: 1.067em;
		color: $accessDetailFontColor;
		margin-bottom: 1.87em;
		display: flex;
		line-height: 1.375em;
		width: 83%;

		.check {
			margin-right: 0.5em;
			margin-top: .125em;
		}

		p {
			flex-wrap: wrap;
		}

	}
}

#bottom-info-wrap {
	max-width: 1280px;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0 30px;
}

#bottom-info {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	div {
		max-width: 480px;
		height: 134px;
		background: rgba(74,74,74,.10);
		border-radius: 3px;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		padding: 1.33em 1.33em;
		font-size: 1.066em;
		line-height: 1.466em;
		margin-bottom: 4.33em;
		width: 42%;

		&:first-child {
			margin-right: 0.66em;
		}

		&:last-child {
			margin-left: 0.66em;
		}

	}


	a {
		color: $moreInfoLinkFontColor;
	}
}


footer {
	max-width: 1069px;
	margin: 0 auto;
	padding: 0 5%;
	
	#footer a {
		border-right: 1px solid black;
	    padding-right: 0.7em;
	    margin-right: 0.5em;
	    color: black;
	    font-size: 0.866em;

	    &:last-child {
			border-right: 0;
			margin-right: 0;
		}
	}
}
